body,
html {
  height: 100%;
  overflow: hidden;
  line-height: 115%;
}
.row-fluid .span6 {
  margin-left: 0px;
}
footer {
  display: none !important;
}
#panel .title {
  font-size: 22px;
  padding-left: 135px;
  line-height: 25px;
  display: block;
  font-family: "calluna", "calluna-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#panel .subtitle {
  font-size: 16px;
  display: block;
  font-family: "calluna", "calluna-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#panel .desc {
  font-size: 10px;
  margin-bottom: 0;
}
#panel .row-fluid:first-child {
  top: 67px;
}
#panel .row-fluid {
  position: absolute;
  bottom: 0px;
  top: 90px;
}
#panel .version .toolbar {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  margin-top: -40px;
}
#panel .version .toolbar .toolHeader {
  margin-right: 16px;
}
#panel .version .toolbar .toolHeader h3 {
  display: inline-block;
}
#panel .version .toolbar .toolHeader .hideFilter {
  width: 16px;
  height: 16px;
  vertical-align: top;
  z-index: 100;
  border: 0;
}
#panel .version .toolbar .toolHeader .hideFilter.notVisible {
  background: url("../../Images/alignView/speaker_closed.png") no-repeat 50% 50%;
}
#panel .version .toolbar .toolHeader .hideFilter.visible {
  background: url("../../Images/alignView/speaker_opened.png") no-repeat 50% 50%;
}
#panel .version .toolbar .tools select {
  display: none !important;
}
#panel .version .toolbar .tools .nav {
  position: absolute;
  z-index: 100;
  width: 100px;
  overflow: hidden;
}
#panel .version .toolbar .tools .hideNav {
  margin-bottom: 10px;
  padding: 9px 12px;
  position: relative;
  left: 34px;
  z-index: 100;
}
#panel .version .toolbar .tools .hideNav.notVisible {
  background: url("../../Images/alignView/nav_closed.png") no-repeat 50% 50%;
}
#panel .version .toolbar .tools .hideNav.visible {
  background: url("../../Images/alignView/nav_opened.png") no-repeat 50% 50%;
}
#panel .version .toolbar .tools .filter {
  position: relative;
  z-index: 100;
  overflow: hidden;
}
#panel .version .toolbar .tools .filter .filterNames {
  position: absolute;
  top: 1px;
  left: 0px;
}
#panel .version .toolbar .tools .filter .filterOrder {
  position: absolute;
  top: 15px;
  left: 0px;
}
#panel .version .toolbar .tools .filter .kineticjs-content {
  margin-top: 63px;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 27px;
}
#panel .version > .text {
  display: inline-block;
  /*background-color: #f5f5f5;*/

  border: 1px solid #DEDEDE;
  border-right: 0px;
  top: 39px;
  font-family: "calluna", "calluna-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  vertical-align: top;
  width: 300px;
}
#panel .version > .text.nano > .content > * {
  padding-right: 20px;
}
#panel .version > .text.nano > .content > b {
  padding-left: 4px;
  line-height: 12px;
}
#panel .version > .text.nano > .content > blockquote {
  padding: 3px 20px 8px 15px;
  margin: 0;
  border: none;
}
#panel .version > .text.nano > .content > blockquote:hover {
  cursor: pointer;
}
#panel .version .connector {
  position: absolute;
  z-index: -100;
  overflow: hidden;
}
button {
  background-color: black;
  padding: 4px;
  color: white;
  font-size: 75%;
}
.speech {
  padding: 8px 5px 8px 10px;
}
.textSelected {
  background-color: #ffcc4c;
}
