/*
/*

VVV main style

*/

@import "elements.less";


.title {
  margin-bottom: 10px;
}

#versionlist {
  form {
    margin-bottom: 0;
  }

  .control-group {
    margin-bottom: 0;
  }
}

.alignments {
  padding-top: 170px !important;

  rect {
    stroke: white;
    fill: steelblue;
  }

  polygon {
    stroke: white;
    fill: steelblue;
    .opacity( 0.2 );
  }

  .active {
    fill: #eedcb0;
    background-color: #eedcb0;
  }

  .selected {
    fill: #FFCC4C;
    background-color: #FFCC4C;
  }

  .scroll-wrapper {
    position: relative;
    height: 500px;
    background-color: #eaeaea;

    .scroll-content {
      margin: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: scroll;

      blockquote {
        border: 0;
      }
    }

    .scroll-content:focus {
      outline:none;
    }  /* ie8, chrome, etc */
  }
}

.no-select {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}