/* Large desktop */
@media (min-width: 1200px) {
  .side-header {
    height: 322px;
  }

  .logos {
    .muted {
      font-size: 12px;
    }
    .logo {
      img {
        width: 90px;
        margin-right: 4px;
      }
    }
  }

  #corpus-index-content-wrapper {
    padding-top: 220px;
    padding-bottom: 50px;
  }

  .container.project-page {
    .span9 {
      margin-left: 300px;
    }
  }

  .project-page {
    .geng-video {
      width: 870px;
      height: 544px;
    }
  }

  #vvv-video {
    width: 870px;
    height: 489px;
  }

  .main-links { ul { li { width: 200px; } } }
}

/* Medium desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  .side-header {
    height: 225px;
  }

  .logos {
    .muted {
      font-size: 12px;
    }
    .logo {
      img {
        width: 80px;
        margin-right: 4px;
      }
    }
  }

  #corpus-index-content-wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  
  .container.project-page {
    .span9 {
      margin-left: 330px;
    }
  }

  .project-page {
    .geng-video {
      width: 660px;
      height: 413px;
    }
  }

  #vvv-video {
    width: 660px;
    height: 371px;
  }

  .main-links { ul { li { width: 160px; } } }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container.project-page {
    .span9 {
      margin-left: 280px;
    }
  }

  .project-page {
    .geng-video {
      width: 538px;
      height: 336px;
    }
  }

  #vvv-video {
    width: 724px;
    height: 407px;
  }
  .main-links { ul { li { width: 150px; } } }

  #side-content {
    width: 100%;
    margin-top: 20px;
    #twitter {
      margin-top: 30px;
    }
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #vvv-video {
    display: block;
    height: 300px;
  }
  #side-content {
    width: 100%;
    margin-top: 20px;
    #twitter {
      margin-top: 30px;
    }
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}