/*

VVV main style

*/

@import "elements.less";
@import "visualise.less";
@import "viv.less";
@import "alignments.less";
@import "responsive.less";

@footersize: 189px;

.bs-docs-sidenav {
  position: fixed;
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../bootstrap/img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.page-head {
  h1 {
    font-size: 2.5em;
  }
}

.map {
  height: 600px;
  padding-top: 130px !important;
  div {
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.login-page {
  .hero-unit {
    h1 {
      margin-bottom: 40px;
    }
  }
  .forgotten {
    margin-left: 10px;
    color: #888;
    font-size: 0.85em;
    a {
      color: #888;
      text-decoration: underline;
    }
    a:hover {
      color: #333;
    }
  }
  .login-form {
    margin-top: 40px;
    margin-bottom: 5px;
    input[type="text"] {
      font-size: 1.2em;
      padding: 10px;
    }
    input[type="password"] {
      font-size: 1.2em;
      padding: 10px;
    }
    input[type="checkbox"] {
      margin-bottom: 5px;
    }
    label {
      font-size: 0.85em;
      color: #888;
    }
  }
}

.project-page {
    .geng-video {
      margin: 10px 0 0 0;
      border: 1px solid #aaa;
      .box-sizing( border-box );
    }

    .page-header { margin-top: 40px; }

    h2 { margin: 30px 0 10px 0; }
    #overview { h2 { margin-top: 10px; } }
    h3 { margin-top: 15px; }

    .references {
      li {
        text-indent: -25px;
        padding-left: 25px;
        margin-bottom: 15px;
      }
    }
  }

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

footer {
  color: #999999;
  background: #f5f5f5;

  p {
    margin-top: 10px;
  }
}

#description {
  margin: 3em 0;
}

#prototypes-wrapper {
  margin-top: 50px;
  margin-bottom: 20px;
}

#vvv-video {
  background-color: #524f4f;
  .drop-shadow( 0, 4px, 6px, 0.3 );
  iframe {
      width: 100%;
      height: 100%;
    }
  //.box-sizing( border-box );
  /*.bordered( #fff, #fff, #fff, #fff );*/
}

.credits {
  .logos {
    .logo {
      margin-right: 40px;
    }
  }
}

.side-header {
  #twitter {
    margin-top: 50px; 
  }
}

.main-links {
  ul {
    li {
      margin: 0 25px 15px 0;
      float: left;
    }
  }
}

.corpus-options {
  margin-top: 10px;
}


.study {
  margin-top: 2em;
    margin-bottom: 1em;
  background-color: #fefefe;
  .drop-shadow( 0, 1px, 3px, 0.3 );
}

.hint:hover {
    .opacity( 0.7 );
}

.sorting {
  color: #999;

  .option-set {
    margin: 0 0 0 2em;
    float: left;
  }

    .headline {
        margin-top: 0.25em;
        margin-right: 1em;
    }

    .viv-select, .viv-sort {

        .control-group {
            margin-bottom: 0;
        }
        .control-label {
            text-align: left;
            width: 100px;
            i {
              margin-left: 3px;
            }
        }
        .controls {
            margin-left: 100px;
        }
    }
}

.credits {
    margin-top: 50px;
}

.corpus-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
  background-color: #fefefe;
  .rounded( 1px );
  .bordered( #ddd, #ddd, #ddd, #ddd );



  .admin {
    margin-right: 0.5em;
  }
  
  .version-label {
    margin-left: 0.5em;
  }

  .description {
    margin-left: 0.5em; 
  }
}

.base-text {
  margin-top: 2em;
  margin-bottom: 2em;
  .admin {
    .btn, .btn-group {
      margin-left: 0.5em;
      .btn {
        margin-left: 0;
      }
    }
  }
}

.tt {
  color: inherit;
}

.tt:hover {
  color: inherit;
  text-decoration: none;
}

.blurp-text {
  margin-bottom: 20px;
}



#corpus-index-content {
  .version {
    width: 100%;

    .version-title-link {
      text-decoration: none;
      color: black;
    }
  }
}

/**
* About
**/
#credits {
  margin-top: 50px;
  color: #999;
}

/** original modal styles **/
#modal{width:700px;border:solid 1px #000;display:none;}
#modalCaption{height:14px;border-bottom:solid 1px #000;font-weight:bold;padding:2px 1px 0 3px;background-color:#000}
#modalContent{background-color:#fff;border-bottom:solid 1px #000;line-height:24px;overflow:auto;padding:4px 8px}
#modalContent label{display:inline-block;vertical-align:top;width:120px}
#modalContent input[type=text],#modalContent textarea,#modalContent input[type=file],#modalContent input[type=password]{width:355px}
#modalContent input[type=text].half,#modalContent textarea.half,#modalContent select,#modalContent input[type=password].half{width:173px}
#modalContent input[type=text].percent{width:50px}
#modalContent input[type=button]{width:80px}
#modalContent .req{background-color:#fc6}
#modalContent p{text-align:center}
#modalContent p img{vertical-align:text-bottom}
#modalContent table{line-height:normal;white-space:nowrap}
#modalFooter{height:28px;background-color:#ddd;padding:4px;text-align:right}
#modalFooter input{width:80px}

#simplemodal-overlay{background-color:#000}

/*.closeWindow,img.simplemodal-close{position:absolute;top:2px;right:2px;height:14px;width:14px;cursor:pointer}*/
.closeWindow,.modalCrossIcon{position:absolute;top:2px;right:2px;height:14px;width:14px;cursor:pointer}

/**
* ENABLING ISOTOPE ANIMATIONS
**/ 

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}



#variation-type-select
{
    width: 400px;
}



