/*

VVV main style

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*
*
* Visualise View
*
*/
/*

VVV main style

*/
#viv-adjust {
  margin-top: 1.2em;
}
.viv {
  margin-top: 70px;
  overflow: hidden;
}
.viv .vivType {
  color: #999;
}
.viv .headline {
  background: red;
}
.viv .sorting .option-set {
  margin: 0 2em 0 0;
}
.viv .sorting .option-set .headline {
  float: left;
  margin-right: 5px;
  background-color: red;
}
.viv #panel {
  margin-top: 20px;
}
.viv #panel .title {
  margin-bottom: 20px;
}
.viv #panel .text {
  font-family: 'calluna', serif;
}
.viv #panel .text blockquote {
  padding: 0;
  margin: 5px 0 20px 0;
  border: 0;
}
.viv #panel .text blockquote span {
  padding: 2px;
}
.viv #panel .text b {
  font-family: 'calluna-sans', sans-serif;
  font-weight: 300;
}
/* TODO - fix this, since it only deals with spans, but for other text types, enclosures may be divs */
.viv #panel .text span:not([data-ebla-cb]) {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.viv .hh {
  height: 500px;
}
.viv .scroll-wrapper {
  position: relative;
  height: 500px;
  background-color: #eaeaea;
}
.viv .scroll-wrapper .scroll-content {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
.viv #eddystats .versions,
.viv #backtranslations .versions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.viv #eddystats .versions .version-eddy-stat,
.viv #backtranslations .versions .version-eddy-stat {
  margin-bottom: 20px;
  margin-left: 0;
  background-color: white;
  width: 93%;
  padding: 10px;
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #dddddd;
}
.viv #eddystats .versions .version-eddy-stat .eddy-value-bar,
.viv #backtranslations .versions .version-eddy-stat .eddy-value-bar {
  width: 100%;
  height: 5px;
}
.viv #eddystats .versions .version-eddy-stat .eddy-value-bar .bar-inner,
.viv #backtranslations .versions .version-eddy-stat .eddy-value-bar .bar-inner {
  width: 50%;
  height: 100%;
  background-color: #fdb63b;
}
.viv #eddystats .versions .version-eddy-stat .eddy-value,
.viv #backtranslations .versions .version-eddy-stat .eddy-value {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.viv #eddystats .versions .version-eddy-stat .backtranslation,
.viv #backtranslations .versions .version-eddy-stat .backtranslation,
.viv #eddystats .versions .version-eddy-stat .version,
.viv #backtranslations .versions .version-eddy-stat .version {
  width: 45%;
  font-weight: 300;
  font-size: 13px;
  font-family: 'calluna', serif;
}
.viv #eddystats .versions .version-eddy-stat .backtranslation,
.viv #backtranslations .versions .version-eddy-stat .backtranslation {
  margin-right: 10px;
  text-align: left;
}
.viv #eddystats .versions .version-eddy-stat .backtranslation .tiny,
.viv #backtranslations .versions .version-eddy-stat .backtranslation .tiny {
  font-size: 10px;
}
.viv #eddystats .versions .version-eddy-stat .backtrans-label,
.viv #backtranslations .versions .version-eddy-stat .backtrans-label,
.viv #eddystats .versions .version-eddy-stat .version-label,
.viv #backtranslations .versions .version-eddy-stat .version-label {
  font-family: 'calluna-sans', sans-serif;
  margin-bottom: 10px;
}
.viv #eddystats .versions .version-eddy-stat .version-label,
.viv #backtranslations .versions .version-eddy-stat .version-label {
  font-weight: bold;
  margin-bottom: 10px;
}
/*
/*

VVV main style

*/
.title {
  margin-bottom: 10px;
}
#versionlist form {
  margin-bottom: 0;
}
#versionlist .control-group {
  margin-bottom: 0;
}
.alignments {
  padding-top: 170px !important;
}
.alignments rect {
  stroke: white;
  fill: steelblue;
}
.alignments polygon {
  stroke: white;
  fill: steelblue;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
}
.alignments .active {
  fill: #eedcb0;
  background-color: #eedcb0;
}
.alignments .selected {
  fill: #FFCC4C;
  background-color: #FFCC4C;
}
.alignments .scroll-wrapper {
  position: relative;
  height: 500px;
  background-color: #eaeaea;
  /* ie8, chrome, etc */
}
.alignments .scroll-wrapper .scroll-content {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
.alignments .scroll-wrapper .scroll-content blockquote {
  border: 0;
}
.alignments .scroll-wrapper .scroll-content:focus {
  outline: none;
}
.no-select {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Large desktop */
@media (min-width: 1200px) {
  .side-header {
    height: 322px;
  }
  .logos .muted {
    font-size: 12px;
  }
  .logos .logo img {
    width: 90px;
    margin-right: 4px;
  }
  #corpus-index-content-wrapper {
    padding-top: 220px;
    padding-bottom: 50px;
  }
  .container.project-page .span9 {
    margin-left: 300px;
  }
  .project-page .geng-video {
    width: 870px;
    height: 544px;
  }
  #vvv-video {
    width: 870px;
    height: 489px;
  }
  .main-links ul li {
    width: 200px;
  }
}
/* Medium desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  .side-header {
    height: 225px;
  }
  .logos .muted {
    font-size: 12px;
  }
  .logos .logo img {
    width: 80px;
    margin-right: 4px;
  }
  #corpus-index-content-wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .container.project-page .span9 {
    margin-left: 330px;
  }
  .project-page .geng-video {
    width: 660px;
    height: 413px;
  }
  #vvv-video {
    width: 660px;
    height: 371px;
  }
  .main-links ul li {
    width: 160px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container.project-page .span9 {
    margin-left: 280px;
  }
  .project-page .geng-video {
    width: 538px;
    height: 336px;
  }
  #vvv-video {
    width: 724px;
    height: 407px;
  }
  .main-links ul li {
    width: 150px;
  }
  #side-content {
    width: 100%;
    margin-top: 20px;
  }
  #side-content #twitter {
    margin-top: 30px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #vvv-video {
    display: block;
    height: 300px;
  }
  #side-content {
    width: 100%;
    margin-top: 20px;
  }
  #side-content #twitter {
    margin-top: 30px;
  }
}
/* Landscape phones and down */
.bs-docs-sidenav {
  position: fixed;
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../bootstrap/img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.page-head h1 {
  font-size: 2.5em;
}
.map {
  height: 600px;
  padding-top: 130px !important;
}
.map div {
  height: 100%;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.login-page .hero-unit h1 {
  margin-bottom: 40px;
}
.login-page .forgotten {
  margin-left: 10px;
  color: #888;
  font-size: 0.85em;
}
.login-page .forgotten a {
  color: #888;
  text-decoration: underline;
}
.login-page .forgotten a:hover {
  color: #333;
}
.login-page .login-form {
  margin-top: 40px;
  margin-bottom: 5px;
}
.login-page .login-form input[type="text"] {
  font-size: 1.2em;
  padding: 10px;
}
.login-page .login-form input[type="password"] {
  font-size: 1.2em;
  padding: 10px;
}
.login-page .login-form input[type="checkbox"] {
  margin-bottom: 5px;
}
.login-page .login-form label {
  font-size: 0.85em;
  color: #888;
}
.project-page .geng-video {
  margin: 10px 0 0 0;
  border: 1px solid #aaa;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.project-page .page-header {
  margin-top: 40px;
}
.project-page h2 {
  margin: 30px 0 10px 0;
}
.project-page #overview h2 {
  margin-top: 10px;
}
.project-page h3 {
  margin-top: 15px;
}
.project-page .references li {
  text-indent: -25px;
  padding-left: 25px;
  margin-bottom: 15px;
}
.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
footer {
  color: #999999;
  background: #f5f5f5;
}
footer p {
  margin-top: 10px;
}
#description {
  margin: 3em 0;
}
#prototypes-wrapper {
  margin-top: 50px;
  margin-bottom: 20px;
}
#vvv-video {
  background-color: #524f4f;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /*.bordered( #fff, #fff, #fff, #fff );*/
}
#vvv-video iframe {
  width: 100%;
  height: 100%;
}
.credits .logos .logo {
  margin-right: 40px;
}
.side-header #twitter {
  margin-top: 50px;
}
.main-links ul li {
  margin: 0 25px 15px 0;
  float: left;
}
.corpus-options {
  margin-top: 10px;
}
.study {
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: #fefefe;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.hint:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.sorting {
  color: #999;
}
.sorting .option-set {
  margin: 0 0 0 2em;
  float: left;
}
.sorting .headline {
  margin-top: 0.25em;
  margin-right: 1em;
}
.sorting .viv-select .control-group,
.sorting .viv-sort .control-group {
  margin-bottom: 0;
}
.sorting .viv-select .control-label,
.sorting .viv-sort .control-label {
  text-align: left;
  width: 100px;
}
.sorting .viv-select .control-label i,
.sorting .viv-sort .control-label i {
  margin-left: 3px;
}
.sorting .viv-select .controls,
.sorting .viv-sort .controls {
  margin-left: 100px;
}
.credits {
  margin-top: 50px;
}
.corpus-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
  background-color: #fefefe;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-top: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}
.corpus-item .admin {
  margin-right: 0.5em;
}
.corpus-item .version-label {
  margin-left: 0.5em;
}
.corpus-item .description {
  margin-left: 0.5em;
}
.base-text {
  margin-top: 2em;
  margin-bottom: 2em;
}
.base-text .admin .btn,
.base-text .admin .btn-group {
  margin-left: 0.5em;
}
.base-text .admin .btn .btn,
.base-text .admin .btn-group .btn {
  margin-left: 0;
}
.tt {
  color: inherit;
}
.tt:hover {
  color: inherit;
  text-decoration: none;
}
.blurp-text {
  margin-bottom: 20px;
}
#corpus-index-content .version {
  width: 100%;
}
#corpus-index-content .version .version-title-link {
  text-decoration: none;
  color: black;
}
/**
* About
**/
#credits {
  margin-top: 50px;
  color: #999;
}
/** original modal styles **/
#modal {
  width: 700px;
  border: solid 1px #000;
  display: none;
}
#modalCaption {
  height: 14px;
  border-bottom: solid 1px #000;
  font-weight: bold;
  padding: 2px 1px 0 3px;
  background-color: #000000;
}
#modalContent {
  background-color: #fff;
  border-bottom: solid 1px #000;
  line-height: 24px;
  overflow: auto;
  padding: 4px 8px;
}
#modalContent label {
  display: inline-block;
  vertical-align: top;
  width: 120px;
}
#modalContent input[type=text],
#modalContent textarea,
#modalContent input[type=file],
#modalContent input[type=password] {
  width: 355px;
}
#modalContent input[type=text].half,
#modalContent textarea.half,
#modalContent select,
#modalContent input[type=password].half {
  width: 173px;
}
#modalContent input[type=text].percent {
  width: 50px;
}
#modalContent input[type=button] {
  width: 80px;
}
#modalContent .req {
  background-color: #ffcc66;
}
#modalContent p {
  text-align: center;
}
#modalContent p img {
  vertical-align: text-bottom;
}
#modalContent table {
  line-height: normal;
  white-space: nowrap;
}
#modalFooter {
  height: 28px;
  background-color: #ddd;
  padding: 4px;
  text-align: right;
}
#modalFooter input {
  width: 80px;
}
#simplemodal-overlay {
  background-color: #000000;
}
/*.closeWindow,img.simplemodal-close{position:absolute;top:2px;right:2px;height:14px;width:14px;cursor:pointer}*/
.closeWindow,
.modalCrossIcon {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
/**
* ENABLING ISOTOPE ANIMATIONS
**/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
#variation-type-select {
  width: 400px;
}

.is-hidden {
    display: none;
}

.footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
