@model Prism.Models.UploadFilesResult

@section HeadContent
{

}

<div class="row" style="height:350px;">
    <div class="span12">
        @using (Html.BeginForm("UploadFiles", "Document", FormMethod.Post, new { id = "UploadBaseForm" }))
        {
            <div class="well dashedzone" style="margin-right: 10px;">
                <div class="span10">
                    <h3 class="info-text">Drop your file here</h3>
                    <p class="category">or click "Add new" to select your base text</p>
                </div>
                <div class="control-group span10">
                    <div class="controls">
                        <div id="dropzonebase" class="dropzone"></div>

                        <span class="btn btn-primary fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>@PrismResources.Add_new</span>
                            <input id="baseFileUpload" class="fileupload" type="file" name="base[]"/>
                            <input type="hidden" name="CorpusName">
                        </span> or drop your file here.

                        <br>
                        <br>

                        <!-- Progress bar -->
                        <div id="baseProgress" class="progress">
                            <div id="baseProgressBar" class="progress-bar progress-bar-info"></div>
                        </div>
                        <!-- Uploaded files -->
                        <div id="baseFiles" class="files"></div>

                        <div id="baseFilesUploaded" ></div>
                    </div>
                </div>
            </div>
          }
    </div>
</div>