@model Prism.Models.UploadFilesResult

@section HeadContent
{
}

<div class="row">
    <div class="span12">
        @using (Html.BeginForm("UploadFiles", "Document", FormMethod.Post, new {id = "UploadVersionForm", enctype = "multipart/form-data" }))
        {
            <div class="well dashedzone" style="margin-right: 10px;">
                <div class="span10">
                    <h3 class="info-text">Drop your file(s) here</h3>
                    <p class="category">or click "Add new" to select your version(s)</p>
                </div>
                <div class="control-group span10">
                    <div class="controls">
                        <div id="dropzoneversion" class="dropzone"></div>

                        <span class="btn btn-primary fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>@PrismResources.Add_new</span>
                            <input id="versionFileUpload" class="fileupload" type="file" name="versions[]" multiple />
                            <input type="hidden" name="CorpusName">
                        </span> or drop your file(s) here.

                        <!-- Progress bar -->
                        <div id="versionProgress" class="progress">
                            <div id="versionProgressBar" class="progress-bar progress-bar-info"></div>
                        </div>
                        <!-- Uploaded files -->
                        <div id="versionFiles" class="files"></div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>