﻿

@section TitleContent
{
    VVV - @PrismResources.Password_changed
}

<div class="container">
    <div class="page-header">
        <h1>@PrismResources.Password_changed</h1>

    </div>
    <div class="row">
        @PrismResources.Password_chng_success_msg
    </div>
</div>
