﻿@model Prism.Models.ChangePasswordModel

@section TitleContent
{
    VVV - @PrismResources.Change_password
    }

<div class="container">
    <div class="page-header">
        <h1>
            @PrismResources.Change_password
        </h1>
        <p>
            @Html.ValidationSummary(false)
        </p>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
        @Html.ValidationSummary(true) 
        <fieldset>
            <legend>@PrismResources.Details</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <p>
                <input type="submit" value="@PrismResources.Change_password" />
            </p>
        </fieldset>
        }
    </div>
</div>
