@model Prism.Models.NewCorpusModel

@section TitleContent
{
    VVV - @PrismResources.Create_corpus
    }


<div class="container">
	<div class="page-header">
		<h2>@PrismResources.Create_corpus</h2>
	</div>
	<div class="row">
		<div class="well span12">
		    @using (Html.BeginForm()) {
		    @Html.ValidationSummary(false)
		
			    <fieldset>
			        <legend>@PrismResources.Details</legend>
			
			        <div class="editor-label">
			            @Html.LabelFor(model => model.CorpusName)
			        </div>
			        <div class="editor-field">
			            @Html.TextBoxFor(model => model.CorpusName)
			            @Html.ValidationMessageFor(model => model.CorpusName)
			        </div>
			
			        <div class="editor-label">
			            @Html.LabelFor(model => model.Description)
			        </div>
			        <div class="editor-field">
			            @Html.TextBoxFor(model => model.Description)
			            @Html.ValidationMessageFor(model => model.Description)
			        </div>

                    <div class="editor-label">
			            @Html.LabelFor(model => model.LanguageCode)
			        </div>
			        <div class="editor-field">
			            @Html.DropDownListFor(model => model.LanguageCode, (System.Collections.Generic.IEnumerable<SelectListItem>) ViewData["langcodes"])
                        @Html.ValidationMessageFor(model => model.LanguageCode)
			        </div>
			            
			            <input type="submit" value="@PrismResources.Create" />
			    </fieldset>
			}
		</div>
	</div>
	<div class="row">
		<div class="span12">
	        @Html.ActionLink(PrismResources.Back_to_list, "Index", null, new { @class="btn" } )
		</div>
	</div>
	<div id="push"></div>
</div>

