﻿@using System.Web.UI.WebControls
@model Prism.Models.CorpusStoreModel

@section HeadContent{

    <script src="@Url.Content("~/Scripts/Prism-CorpusStore.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
}

@section TitleContent
{
    VVV - @PrismResources.Corpora
}

<div class="container">
    <div class="page-header">
        <h1>@PrismResources.Corpora</h1>
        <p>@Html.ValidationSummary(false)</p>
        <p class="pull-right">
            @if (Prism.Controllers.AccountController.SessionEblaIsAdmin)
            {
                @Html.ActionLink("Wizard", "CorpusWizard", null, new { @class = "btn" })
                @Html.ActionLink(PrismResources.Create, "Create", null, new { @class = "btn" })
                @Html.ActionLink(PrismResources.Admin_ie_administration, "UsersAdmin", null, new { @class = "btn" })
            }

        </p>
    </div>

    <div class="row">
        <div class="span12">
            <div id="delete-dialog" title="Confirmation" style="display:none;">
                <p>Are you sure you wish to delete this corpus?</p>
            </div>	
            <table class="table table-bordered">
                <tr>
                    <th>
                        @PrismResources.Corpus_name
                    </th>
                    @*--
                        <th>
                            Base text<br />language
                        </th>--%>*@
                    <th>
                        @PrismResources.Description
                    </th>
                    <th>
                    </th>
                    @if (Prism.Controllers.AccountController.SessionEblaIsAdmin)
                    {
                        <th>
                        </th>
                    }
                </tr>
                @if (Model.CorpusList != null)
                {
                    foreach (var item in Model.CorpusList)
                    {
                        <tr>
                            <td>
                                @item.CorpusName
                            </td>

                            @*<td>
                                    @Model.Cultures[item.LanguageCode]
                                </td>*@
                            <td>
                                @item.CorpusDescription
                            </td>
                            <td>
                                @Html.ActionLink(PrismResources.Open_ie_buttonaction, "Index", "Corpus", new { CorpusName = item.CorpusName }, new { @class = "btn btn-primary" })
                            </td>
                            @if (Prism.Controllers.AccountController.SessionEblaIsAdmin)
                            {
                                <td>
                                    @Html.ActionLink(PrismResources.Delete, "Delete", new { CorpusName = item.CorpusName }, new { @class = "btn btn-danger delete-link"})
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div id="push"></div>
</div>
