
@model Prism.Models.UserRightsModel

@section TitleContent{
    VVV - @PrismResources.User_details
}

<div class="container">
    <div class="page-header">
        <h1>
            @PrismResources.User_details
        </h1>
        <p>
            @Html.ValidationSummary(false)
        </p>
    </div>
    <div class="row">
        @using (Html.BeginForm())
            {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Main details</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Username)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.CanAdmin)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.CanAdmin)
                    @Html.ValidationMessageFor(model => model.CanAdmin)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <fieldset>
                    <legend>@PrismResources.Corpus_rights</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @PrismResources.Corpus_name
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < Model.CorpusRights.Length; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" name="CorpusRights.Index" value="@i.ToString()" />
                                        @Model.CorpusRights[i].CorpusName
                                        @Html.HiddenFor(x => Model.CorpusRights[i].CorpusName, new { @name = "CorpusRights[" + i.ToString() + "].CorpusName" })

                                    </td>
                                    <td>

                                        @Html.RadioButtonFor(x => Model.CorpusRights[i].RightsValue, 0, new { @name = "CorpusRights[" + i.ToString() + "].RightsValue" })
                                        @PrismResources.No_access
                                    </td>
                                    <td>
                                        @Html.RadioButtonFor(x => Model.CorpusRights[i].RightsValue, 1, new { @name = "CorpusRights[" + i.ToString() + "].RightsValue" })
                                        @PrismResources.Can_read
                                    </td>
                                    <td>
                                        @Html.RadioButtonFor(x => Model.CorpusRights[i].RightsValue, 3, new { @name = "CorpusRights[" + i.ToString() + "].RightsValue" })
                                        @PrismResources.Can_write
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </fieldset>
                <p>
                    <input type="submit" value="@PrismResources.Save" />
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink(PrismResources.Back_to_list, "UsersAdmin")
        </div>
    </div>
</div>
