
@model EblaAPI.UserInfo[]


@section TitleContent{
    VVV - @PrismResources.Admin_ie_administration
}


<div class="container">
	<div class="page-header">
		<h1>@PrismResources.Users</h1>
		<p>@Html.ValidationSummary(false)</p>            
	</div>

    <div class="row">
    	<div class="span12">
    		<table class="table table-bordered">
		        <thead>
		        	<tr>
		        		<th>@PrismResources.Username</th>
		        		<th>@PrismResources.Administrator</th>
		        		<th></th>
		        		<th></th>
		        	</tr>
		        </thead>

		        <tbody>
		        	@foreach (EblaAPI.UserInfo ui in Model) {
		        	<tr>
		        	<td>@ui.Username</td>
		        	<td>@(ui.IsAdmin ? PrismResources.Yes : PrismResources.No)</td>
		        	<td>@Html.ActionLink(PrismResources.Edit, "UserAdmin", new { Username = ui.Username }, new { @class = "btn" })</td>
		        	<td>
						@if (string.Compare(ui.Username, Prism.Controllers.AccountController.SessionEblaUsername) != 0)
		           		   {
				    	<a href="@Url.Action( "DeleteUser", new { Username = ui.Username } )"
	                        class="btn btn-mini btn-danger" onclick="return confirm('@PrismResources.Confirm_user_del_msg');">
	                        <i class="icon-trash icon-white"></i>
	                    </a>
		        		}
		        	</td>
		        	</tr>
		        	}
		        </tbody>
			</table>
    	</div>
    </div>
    <div class="row">
    	<div class="span12">
    		@Html.ActionLink(PrismResources.Create, "CreateUser", null, new { @class = "btn" })
    	</div>
    </div>
    <div id="push"></div>
</div>


    

