
<div id="vivtestdiv">
<table id='vivtesttable' class='sortable'>
@Html.Raw(ViewData["tablecontent"].ToString());

</table>
@Html.ActionLink("Download XML", "SegStatsDownload", new {CorpusName = ViewData["corpusname"], baseTextSegmentID = ViewData["segid"]})
</div>

<script type="text/javascript"  >
    //alert('aha');

    $(function () {

        //alert('aha2');
        sorttable.forceinit($('#vivtesttable')[0]);
        //sorttable.forceinit($('#vivtesttable2')[0]);
        //alert('aha3');

    });


</script>
