﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TitleContent
{
    Version Variation Visualization - About
}

<div class="container">
    <header>
        <h1>Version Variation Visualization: About</h1>
        <p class="lead">Explore great works with their world-wide translations</p>
    </header>
    <section id="blurp">
        <div class="row">
            <div class="span12">
                <div id="twitter">
                    <a href="https://twitter.com/transarrays" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @@transarrays</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <p>Send us an <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%74%72%61%6E%73%61%72%72%61%79%73%40%67%6D%61%69%6C%2E%63%6F%6D">Email</a></p>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h2>Credits</h2>
        </div>
        <div class="row">
            <div class="span8">
                <dl>
                    <dt>Concept</dt>
                    <dd><a href="http://www.swansea.ac.uk/staff/academic/artshumanities/ltm/cheesmant/">Tom Cheesman</a></dd>
                    <dt>Software architecture</dt>
                    <dd><a href="http://www.kftrans.co.uk/">Kevin Flanagan</a></dd>
                    <dt>Interface and visualization design</dt>
                    <dd><a href="http://www.nand.io">Studio NAND</a> with support from <a href="http://www.ahoi.in">Sebastian Sadowski</a></dd>
                    <dt>Text preparation</dt>
                    <dd><a href="http://www.swansea.ac.uk/staff/academic/artshumanities/ltm/cheesmant/">Tom Cheesman</a>, Alison Ehrmann</dd>
                    <dt>TextViz scoping, prototyping, &amp; alt. maths</dt>
                    <dd><a href="http://cs.swan.ac.uk/~cszg/">Zhao Geng</a></dd>
                </dl>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h2>Copyright notice</h2>
        </div>
        <div class="row">
            <div class="span8">
                <p>Most translations on this site are © various publishers. The texts are reproduced here with permission. If you use (quote) a text, credit the translator and the copyright owner. Details for each translation are on the <a href="<%= Url.Content(" ~/Home/Project") %>">Project page</a>.</p>
                <p>The editorial content of this Translation Array is published under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. The content can only be non-commercially re-used under the same kind of licence, with express credit to ‘Translation Array Prototype 1, by Tom Cheesman, Kevin Flanagan, Stephan Thiel and others, 2012’.</p>
                <p>
                    The VVV software powering this website is released under GNU general public licence v3.
                    For details see <a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a>. This licence, authorship and copyright details are
                    included with the source code, which is available at <a href="https://bitbucket.org/kevinf/vvv">https://bitbucket.org/kevinf/vvv</a>.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h2>Acknowledgements</h2>
        </div>
        <div class="row">
            <div class="span8">
                <p>Our thanks for generous assistance in kind to: ABBYY OCR Software (Colin Miller), Wolfestone Translation Ltd (Anna Bastek, Silke Lührmann, and their summer 2011 interns), Hartmann &amp; Stauffacher, Theater Verlag Desch, Reclam, Suhrkamp, other German theatre publishers, and the many individual contributors to www.delightedbeauty.org</p>
                <p>Instigation: David M Berry. Advice: Dirk Delabastita, Balz Engler, Regula Hohl Trillini, Susan Schreibman, Chris Meister, Desmond Schmidt</p>
            </div>
        </div>
    </section>
    <section>
        <div class="page-header">
            <h2>Funders</h2>
        </div>
        <div class="row">
            <div class="span8">
                <p>2012 – Arts and Humanities Research Council, Digital Transformations Theme (TC with Robert S Laramee°, Jonathan Hope3); Swansea University and Engineering and Physical Sciences Research Council: Bridging the Gaps (TC with Robert S Laramee)</p>
                <p>2011 – Swansea University, Research Institute for Arts and Humanities, Research Innovation Fund (TC with David M Berry, Robert S Laramee°, Andrew Rothwell)</p>
                <p>All named are currently at Swansea University, College of Arts and Humanities, except: °Swansea University, College of Science; ¹Studio Nand, Berlin; ²Fachhochschule Potsdam; 3Strathclyde University</p>
                <div class="logos">
                    <img src="@Url.Content("~/Content/img/logos/swanseau.png")" class="logo" title="Swansea University" />
                    <img src="@Url.Content("~/Content/img/logos/ahrc.png")" class="logo" title="Arts &amp; Humanities Research Council" />
                    <img src="@Url.Content("~/Content/img/logos/epsrc.png")" class="logo" title="ESPRC" />
                </div>
            </div>
        </div>
    </section>
</div>




