﻿
@section TitleContent
{
    VVV - @PrismResources.Error
    }
<div class="container">
    <div class="page-header">
        <div class="alert alert-error">
            <strong>@PrismResources.Error:</strong> @ViewData["message"]
        </div>
    </div>
    <div id="push"></div>
</div>
