﻿
@section TitleContent
{
    @PrismResources.Version_variation_viz
    }

<div class="container">
    <div class="page-header">
        <div class="">
            <h1>
                @{
                    string title = System.Configuration.ConfigurationManager.AppSettings["SiteTitle"];
                    if (string.IsNullOrEmpty(title))
                    {
                        title = PrismResources.Version_variation_viz;
                    }
                }

                @title
            </h1>

            <p class="lead">@PrismResources.VVV_strapline</p>
        </div>
    </div>
    <div id="prototypes-wrapper" class="row">
        <div id="vvv-video" class="span9">
            <!--<iframe src="http://player.vimeo.com/video/58562411?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="870" height="489" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
            <iframe width="870" height="489" src="//www.youtube.com/embed/HfH1Won-ai4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="side-content" class="span3">
            @if (PrismHelpers.IsThirdParty)
            {
                <div class="side-header">
                    @PrismResources.Home_ProjectDesc
                </div>
            }
            else
            {
                <div class="side-header">
                    <h3>Translation Array Prototype 1</h3>
                    <p>Shakespeare’s Othello (Act 1, Scene 3) with 37 German translations (1766–2010)</p>

                    <div id="twitter">
                        <a href="https://twitter.com/transvis" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @@transvis</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                    </div>
                    <p>Send us an <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%74%72%61%6E%73%61%72%72%61%79%73%40%67%6D%61%69%6C%2E%63%6F%6D">Email</a></p>
                </div>

            }
        </div>
    </div>
    <div class="row">
        @if (PrismHelpers.IsThirdParty)
        {

        }
        else
        {
            <div class="main-links span12">
                <p><small>Access the prototypes directly:</small>
                </p>
                <ul class="unstyled">
                    <li><a href="@Url.Content("~/Visualise/OthelloMap?CorpusName=Othello%2C%20Act%201%20Scene%203")">Othello Time-Map</a><br/>When and where the versions were written and published?</li>
                    <li><a href="@Url.Content("~/Visualise/Alignments?CorpusName=Othello%2C%20Act%201%20Scene%203")">Alignment Maps</a><br/>Compare VVV document structures</li>
                    <li><a href="@Url.Content("~/Visualise?CorpusName=Othello%2C%20Act%201%20Scene%203&NameIfVersion=Schiller%20and%20Voss")">Parallel Views</a><br/>Navigate through the English &#8216;base text&#8217; and the German versions</li>
                    <li><a href="@Url.Content("~/Visualise/Viv?CorpusName=Othello%2C%20Act%201%20Scene%203")"><em>Eddy &amp; Viv</em> View</a><br/>Compare all the translations and their variation of <em>Othello</em></li>
                </ul>
            </div>
            
        }
    </div>

    <div class="row credits">
        <div class="span12">
            <div class="logos">
                <p class="muted">@PrismResources.Funded_and_supported</p>
                <a class="logo" href=""><img src="@Url.Content("~/Content/img/logos/color/ahrc_color.png")" /></a>
                <a class="logo" href=""><img src="@Url.Content("~/Content/img/logos/color/epsrc_color.png")" /></a>
                <a class="logo" href=""><img src="@Url.Content("~/Content/img/logos/color/swanseau_color.png")" /></a>
                <a class="logo" href=""><img src="@Url.Content("~/Content/img/logos/color/header_rffi2.png")" /></a>
            </div>
        </div>
    </div>
</div>
