﻿@section TitleContent
{
    VVV - @PrismResources.Project
}

<div class="container project-page">
    <div class="row">
            <section id="overview" class="page-head">
                <div class="page-header">
                    <h1>@PrismResources.Version_variation_viz</h1>
                    <p class="lead">@PrismResources.VVV_strapline</p>
                </div>
                <h2>
                    @PrismResources.Project
                </h2>
            </section>

        @Html.Raw(PrismResources.ProjectDetail)
    </div>
</div>


