
@model Prism.Models.CorpusModel

@section TitleContent {
    VVV - @Model.CorpusName
}

@section HeadContent {
<script src="@Url.Content("~/Scripts/vvv/jquery.isotope.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/corpus.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-CorpusIndex.js")" type="text/javascript"></script>
    }

    @Html.HiddenFor(model => model.CorpusName, new { id = "corpusname" })

<div class="container">
    <div class="subnav subnav-fixed">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="pull-right">
                        @if (Model.CanWrite)
                            {
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Edit Corpus
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink(PrismResources.Add_new_version, "CreateVersion", new { CorpusName = Model.CorpusName }, new { @class = "" })</li>
                                <li>
                                    @Html.ActionLink(PrismResources.Upload_new_versions, "VersionUpload", "Document", new { corpusName = Model.CorpusName, uploadType = "version" }, new { @class = "" })
                                </li>
                                <li>
                                    @Html.ActionLink(PrismResources.Corpus_admin_ie_administration, "Admin", "Corpus", new { CorpusName = Model.CorpusName }, new { @class = "" })</li>
                            </ul>
                        </div>
                        }
                    </div>
                    <h1>
                        @Model.CorpusName
                        <small>
                            @Model.CorpusDescription</small></h1>
                </div>
            </div>
            <div class="row">
                <div class="corpus-item base-text span12">
                    <div class="row">
                        <div class="span7">
                            <h3 class="version-label">
                                @PrismResources.Base_text<small> 
                                    @if (Model.BaseText.ReferenceDate.HasValue)
                                    {
                                        @("(" + Model.BaseText.ReferenceDate + ")")
                                    }
                                    @Model.Cultures.FirstOrDefault(p => p.Value == Model.LanguageCode).Key
                                    </small></h3>
                            <div class="description">
                                <p>
                                    @Model.BaseText.Description</p>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="admin pull-right">
                                @if (Model.CanWrite)
                                {
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-mini dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                                            Work <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.ActionLink(PrismResources.View_ie_buttonaction, "Index", "Document", new { CorpusName = Model.CorpusName }, new { @class = "" })
                                            </li>
                                            <li>
                                                @Html.ActionLink(PrismResources.Upload_CkEditor_ie_buttonaction, "Upload", "Document", new { CorpusName = Model.CorpusName }, new { @class = "" })
                                            </li>
                                            <li>
                                                @Html.ActionLink(PrismResources.Upload_File_ie_buttonaction, "BaseUpload", "Document", new { corpusName = Model.CorpusName, uploadType = "base" }, new { @class = "" })
                                            </li>
                                            <li>
                                                @Html.ActionLink(PrismResources.Details, "DocumentMetadata", "Corpus", new { CorpusName = Model.CorpusName }, new { @class = "" })
                                            </li>
                                            <li>
                                                @Html.ActionLink(PrismResources.Export, "ExportDocument", "Document", new { CorpusName = Model.CorpusName }, new { @class = "" })
                                            </li>
                                        </ul>
                                    </div>
                                }
                                <div class="btn-group pull-right">
                                    <a class="btn btn-mini dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                                        Charts <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink(PrismResources.Variation, "EddyOverviewChart", "Charts", new { CorpusName = Model.CorpusName }, new { @class = "", @title = PrismResources.Eddy_overview_tooltip })</li>
                                        <li>
                                            @Html.ActionLink(PrismResources.History, "EddyHistory", "Charts", new { CorpusName = Model.CorpusName, BaseTextSegmentId = -1 }, new { @class = "", @title = PrismResources.Eddy_history_tooltip })</li>
                                        <li>
                                            @Html.ActionLink(PrismResources.Distribution, "VivDistributionChart", "Charts", new { CorpusName = Model.CorpusName }, new { @class = "", @title=PrismResources.Viv_dist_tooltip })</li>
                                        <li>
                                            @Html.ActionLink(PrismResources.Viv_versus_seg_length, "VivVersusSegmentLengthChart", "Charts", new { CorpusName = Model.CorpusName }, new { @class = "" })</li>
                                    </ul>
                                </div>
                                <a href="@Url.Action( "SegmentVersionsTable", "Visualise", new { CorpusName = Model.CorpusName } )"
                                    rel="tooltip" data-placement="top" title="@PrismResources.Table_tooltip"
                                    class="btn btn-mini pull-right tt">@PrismResources.Table</a> 
                                <a href="@Url.Action( "Alignments", "Visualise", new { CorpusName = Model.CorpusName } )"
                                    rel="tooltip" data-placement="top" title="@PrismResources.Alignment_maps_tooltip"
                                    class="btn btn-mini pull-right tt">@PrismResources.Alignments</a> 

                                @if (Model.CorpusName == "Othello, Act 1 Scene 3")
                                    {
                                <a href="@Url.Action( "OthelloMap", "Visualise", new { CorpusName = Model.CorpusName } )"
                                    rel="tooltip" data-placement="top" title="An interactive map showing German translations from the Othello corpus"
                                    class="btn btn-mini pull-right tt">Map</a>
                                }
                                
                                <a href="@Url.Action( "Viv", "Visualise", new { CorpusName = Model.CorpusName } )"
                                        rel="tooltip" data-placement="top" title="@PrismResources.Eddy_and_viv_tooltip"
                                        class="btn btn-mini pull-right tt">@PrismResources.Eddy_and_viv</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sorting span12">
                    <div class="pull-right subnav-item-right">
                        <div id="sort-direction" class="option-set" data-option-key="sortAscending">
                            <div class="btn-group pull-right">
                                <a href="#sortAscending=true" data-option-value="true" class="btn btn-mini optionlink disabled">
                                    @PrismResources.Asc</a> <a href="#sortAscending=false" data-option-value="false" class="btn btn-mini optionlink">
                                        @PrismResources.Desc</a>
                            </div>
                            <div class="headline pull-right">
                                @PrismResources.ORDER</div>
                        </div>
                    </div>
                    <div class="pull-right subnav-item-right">
                        <div id="sort-by" class="option-set" data-option-key="sortBy">
                            <form class="form-horizontal viv-sort">
                            <div class="control-label">
                                @PrismResources.SORT_BY</div>
                            <div class="controls">
                                <select id="corpus-sort-select">
                                    <option data-option-value="year">@PrismResources.Year</option>
                                    <option data-option-value="author">@PrismResources.Author</option>
                                </select>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <div class="headline">
                            &darr;
                            @Model.VersionList.Length
                            @PrismResources.VERSIONS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="corpus-index-content-wrapper" class="container">
        <div class="corpus-item">
        <span class="btn btn-mini tt " title="@PrismResources.All_tooltip" id="corp-all-selection" >@PrismResources.All</span>
        <span class="btn btn-mini tt " title="@PrismResources.None_tooltip" id="corp-none-selection" >@PrismResources.None</span>
</div>
                    <div id="corpus-index-content">

            @if (Model.VersionList != null)
                {
                    var selectedVersions = Prism.Controllers.CorpusController.GetActiveCorpusSelection();
                    foreach (var item in Model.VersionList)
                    {
                        bool inSelection = selectedVersions.IndexOf(item.NameIfVersion) != -1;
                        string stylestringadd = "style='display:" + (!inSelection ? "inline" : "none") + "'";
                        string stylestringrem = "style='display:" + (!inSelection ? "none" : "inline") + "'";
                        string styleitem = inSelection ? string.Empty : "style='color: gray'";
            <div class="corpus-item version corp-selection-item" >
                <div class="admin pull-right">
                    <span class="btn btn-mini tt corp-add-selection" 
                          title="@PrismResources.Add_tooltip"
                        @Html.Raw(stylestringadd)
                        data-id='@("veradd-" + item.NameIfVersion)'
                        data-placement="left">
                        +</span> 
                        <span class="btn btn-mini tt corp-rem-selection" 
                              title="@PrismResources.Remove_tooltip"
                        @Html.Raw(stylestringrem)
                        data-id='@("verrem-" + item.NameIfVersion)'
                             data-placement="left">
                            -</span> 
                    <a href="@Url.Action("Info", "Document", new { CorpusName = Model.CorpusName, NameIfVersion = item.NameIfVersion } )"
                                class="btn btn-mini tt" title="@PrismResources.Details_tooltip" data-placement="left">
                                @PrismResources.Details</a>
                    @if (Model.CanWrite)
                        {
                    <a href="#" class="btn btn-mini btn-primary po-admin" rel="popover" title="Work">Work</a>
                    <div class="admin-menu" style="display: none">
                        <div class="admin-buttons-wrapper">
                            @Html.ActionLink(PrismResources.View_ie_buttonaction, "Index", "Document", new { CorpusName = Model.CorpusName, NameIfVersion = item.NameIfVersion }, new { @class = "btn btn-mini" })
                            @Html.ActionLink(PrismResources.Edit_details, "DocumentMetadata", "Corpus", new { CorpusName = Model.CorpusName, NameIfVersion = item.NameIfVersion }, new { @class = "btn btn-mini" })
                            @Html.ActionLink(PrismResources.Upload_CkEditor_ie_buttonaction, "Upload", "Document", new { CorpusName = Model.CorpusName, NameIfVersion = item.NameIfVersion }, new { @class = "btn btn-mini" })
                            @Html.ActionLink(PrismResources.Upload_new_versions, "VersionUpload", "Document", new { corpusName = Model.CorpusName, uploadType = "version" }, new { @class = "btn btn-mini" })
                            @Html.ActionLink(PrismResources.Align, "Index", "Aligner", new { CorpusName = Model.CorpusName, VersionName = item.NameIfVersion }, new { @class = "btn btn-mini" })
                            @Html.ActionLink(PrismResources.Export, "ExportDocument", "Document", new { CorpusName = Model.CorpusName, VersionName = item.NameIfVersion }, new { @class = "btn btn-mini" })
                            <a class="btn btn-mini" onclick="return confirm('@PrismResources.Confirm_version_delete_msg');"
                            href="@Url.Action( "DeleteVersion", "Corpus", new { CorpusName = Model.CorpusName, VersionName = item.NameIfVersion } )">
                                <i class="icon-trash"></i></a>
                        </div>
                    </div>
                    }
                </div>
                <h3 class="version-label" >
                    <a href="@Url.Action( "Index", "Visualise", new {CorpusName = Model.CorpusName, NameIfVersion = item.NameIfVersion} )"
                        class="version-title-link tt" title="@PrismResources.Click_to_access_parallel_view" data-placement="right" 
                        @Html.Raw(styleitem)
                        data-id="@("verlink-" + item.NameIfVersion)" data-insel="@(inSelection ? "1" : "0")">
                        @item.NameIfVersion
                        <span class="year">
                        @if (item.ReferenceDate.HasValue)
                            {
                        @("(" + item.ReferenceDate + ")")
                        }
                        </span> <small>
                            @Model.Cultures.FirstOrDefault(p => p.Value == item.LanguageCode).Key
                            @if (!string.IsNullOrEmpty(item.Genre)) {
                            @(", "+ item.Genre)
                            }
                            @if (!string.IsNullOrEmpty(item.CopyrightInfo)) {
                            @(", " + item.CopyrightInfo)
                            }
                            </small> </a>
                </h3>
            </div>
            }
                }
        </div>
    </div>
</div>
