@model Prism.Models.PredefinedSegmentAttributesModel

@section TitleContent {
	    @Model.CorpusName  
    }

<div class="container">
	<div class="page-header">
	    <h2>@PrismResources.Setup_predef_seg_attr</h2>
		<p>@PrismResources.List_of_predef_segattr</p>
	</div>
	<div class="row">
	    <table class="table span12">
	        <tr>
	        	<th>
	        		@PrismResources.Name_ie_name_of_attrib
	        	</th>
	        	<th>
	        		@PrismResources.Type
	        	</th>
	        	<th></th>
	        	<th></th>
	        </tr>
	        
	        @if (Model.PredefinedSegmentAttributes != null)
            {
                foreach (var item in Model.PredefinedSegmentAttributes)
                {
	            <tr>
	                <td>
	                    @item.Name
	                </td>
	                <td>
	                    @item.AttributeType.ToString()
	                </td>
	                <td>
	                    @Html.ActionLink(PrismResources.Edit, "PredefinedSegmentAttribute", "Corpus", new { CorpusName = Model.CorpusName, ID = item.ID }, new { @class = "btn" })
	                </td>
	                <td>
	                    @Html.ActionLink(PrismResources.Delete, "DeleteAttribute", new { CorpusName = Model.CorpusName, ID = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('" +PrismResources.Confirm_attr_delete_msg + "');" })
	                </td>
	            </tr>
                }
            }
	    </table>
	</div>
	<div class="row">
		<div class="span12">
		    @Html.ActionLink(PrismResources.Add_new, "PredefinedSegmentAttribute", new { CorpusName = Model.CorpusName }, new { @class="btn btn-primary" } )
		    @Html.ActionLink(PrismResources.Back_to_corpus, "Index", "Corpus", new { CorpusName = Model.CorpusName }, new { @class="btn" } )
		</div>
	</div>
	<div id="push"></div>
</div>

