
@model Prism.Models.PredefinedSegmentAttributeModel
@using Prism.HtmlHelpers

@section TitleContent {

@Model.CorpusName
}

@section HeadContent
{
<script src="@Url.Content("~/Scripts/Prism-PredefinedSegmentAttribute.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jscolor/jscolor.js")" type="text/javascript"></script>

 }

<div class="container">
	<div class="page-header">
    	<h2>@PrismResources.Edit_predef_seg_attr</h2>
	</div>
	<div class="row">
		<div class="span12">
    	@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
	       	{
	    	@Html.ValidationSummary(false)
	    	<fieldset>
				<div class="well">
		        	<legend>Fields</legend>
		        	@Html.HiddenFor(model => model.PredefinedSegmentAttribute.ID)
		        	@Html.HiddenFor(model => model.CorpusName)
						
					<div class="control-group">
					    <label class="control-label" for="segment-attr-name">
					        @Html.LabelFor(model=>model.PredefinedSegmentAttribute.Name)
					    </label>
						<div class="controls">
							@Html.TextBoxFor(model => model.PredefinedSegmentAttribute.Name, new  { id="segment-attr-name" })
							@Html.ValidationMessageFor(model => model.PredefinedSegmentAttribute.Name)
						</div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="segment-attr-type">
                            @Html.LabelFor(model => model.PredefinedSegmentAttribute.AttributeType)
					    </label>
						<div class="controls">
							@Html.EnumDropDownListFor(model => model.PredefinedSegmentAttribute.AttributeType, new { id = "attribtype" })
		            		@Html.ValidationMessageFor(model => model.PredefinedSegmentAttribute.AttributeType)
						</div>
					</div>
		        		

				</div>
				
	        	<div id="attribvallistpanel" class="well">
	            	<fieldset>
	                	<legend>@PrismResources.Values</legend>
	                	<table id="valuetable" class="table">
		                    <thead>
		                    <tr>
		                        <th>
		                            <span class="editor-label">
		                                @PrismResources.Value_ie_value_of_attrib
		                            </span>
		                        </th>
		                        <th>
		                            <span class="editor-label">@PrismResources.Apply_colour_coding</span>
		                        </th>
		                        <th>
		                            <span class="editor-label">@PrismResources.Colour_code</span>
		                        </th>
		
		
		                        <th>
		                        </th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                        @if (Model.PredefinedSegmentAttribute.Values != null)
                                {
                                    for (int i = 0; i < Model.PredefinedSegmentAttribute.Values.Length; i++)
                                    {
                                        string rowid = "valuerow-" + i.ToString();
                                        string rowhtml = Prism.Controllers.CorpusController.PredefinedAttributeValueRowHtml(i, Model.PredefinedSegmentAttribute.Values[i]);
		                            <tr id='@rowid'>
		                                @Html.Raw(rowhtml)
		                            </tr>             
                                    }
                                }

		                    </tbody>
	                	</table>
	                	<input type="button" class="btn" value="@PrismResources.Add" id="addvalue" />
	            	</fieldset>
	        	</div>
	    	</fieldset>
			<input type="submit" class="btn btn-primary" value="@PrismResources.Save" />
	        @Html.ActionLink(PrismResources.Cancel, "PredefinedSegmentAttributes", "Corpus", new { CorpusName = Model.CorpusName }, new { @class="btn" })
	    	}
	    	<input type="hidden" id="nextvaluerowindex" value="@ViewData["nextvaluerowindex"]" />
		</div>
	</div>
	<div id="push"></div>
</div>
