﻿@using Prism.Models

@{
var alerts = TempData.ContainsKey(Alert.TempDataKey)
                    ? (List<Alert>)TempData[Alert.TempDataKey]  : new List<Alert>();
        
    if (alerts.Any())
    {
        <hr />
    }
    foreach (var alert in alerts)
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="alert alert-@alert.AlertStyle @dismissableClass">
        @if (alert.Dismissable)
        {
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        }
        @MvcHtmlString.Create(alert.Message)
    </div>
    }

}
