﻿
<div class="btn-group pull-right">
    <div class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            @{
                string flag = "gb";
                string lang = Request.Cookies["lang"]?.Value;
                switch (lang)
                {
                    case "ja":
                        flag = "jp";
                        break;
                    case "ru":
                        flag = lang;
                        break;
                }

                        }

            <span class="flag-icon flag-icon-@flag"></span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("SetLanguage", "Home", new { returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery , langCode="en"})"><span class="flag-icon flag-icon-gb"></span> English</a></li>
            <li><a href="@Url.Action("SetLanguage", "Home", new { returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery, langCode = "ru"} )"><span class="flag-icon flag-icon-ru"></span> Русский</a></li>
        </ul>
        
    </div>

</div>

<div class="btn-group pull-right">
    
    @*<select class="selectpicker" data-width="fit">
        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
    </select>*@

    @if (Request.IsAuthenticated)
                        {
        <div class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user icon-white"></i> @User.Identity.Name
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("LogOff", "Account" )">@PrismResources.Sign_out</a></li>

                @if (Prism.Controllers.AccountController.CanChangePassword)
                        {

                    <li><a href="@Url.Action("ChangePassword", "CorpusStore" )">@PrismResources.Change_password</a></li>
                }
            </ul>

        
        </div>

    }
    else
    {

        <a href="@Url.Action("LogOn", "Account", new {returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery} )" class="btn">@PrismResources.Sign_in</a>

                }

</div>
