﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        @RenderSection("TitleContent", required: false)
    </title>

    <link href="@Url.Content("~/Content/css/nanoscroller.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/bootstrap-3-3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/bootstrap-3-3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/bootstrap-theme-3-3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap_customized.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/rangy/rangy-core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vvv/javascript-debug/ba-debug.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/bootstrap-3-3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vvv/underscore/underscore-min.js")" type="text/javascript"></script>
    
    @Html.Partial("_Strings")

    @RenderSection("HeadContent", required: false)

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33080583-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
    </script>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="150">
    <div class="navbar navbar-default">
        <div class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>


                    <a class="navbar-brand" href="#">VVV</a>
                    @Html.Partial("_LogOn")
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="">@Html.ActionLink(PrismResources.Home, "Index", "Home")</li>
                        @if (PrismHelpers.IsThirdParty)
                        {
                        }
                        else
                        {
                            <li class="">@Html.ActionLink(PrismResources.Project, "Project", "Home")</li>
                        }
                        <li class="">@Html.ActionLink(PrismResources.Corpora, "Index", "CorpusStore")</li>
                        @if (PrismHelpers.IsThirdParty)
                        {
                        }
                        else
                        {
                            <li class="">@Html.ActionLink(PrismResources.Credits, "Credits", "Home")</li>
                        }
                        <li class="">
                            @RenderSection("HelpMenuItem", required: false)

                        </li>
                        @if (Request.IsAuthenticated) {
                            <li class=""><a href="@Url.Action("Feedback", "Home")"><i class="icon-comment icon-white"></i> @PrismResources.Give_feedback</a></li>
		              		}
                    </ul>
                </div><!--/.nav-collapse -->
                <div class="nav-collapse pull-right">
                    <ul class="nav navbar-nav navbar-right">
                        @if (Prism.Controllers.CorpusController.GetActiveCorpus().Length > 0)
                           {
                            <li class="">@Html.ActionLink(PrismResources.Corpus, "Index", "Corpus", new { CorpusName = Prism.Controllers.CorpusController.GetActiveCorpus()
                            }, new { id = "corpus-menu-button", title = Prism.Controllers.CorpusController.GetCorpusCaption()  })</li>
                            }
                    </ul>
                </div>

            </div>
        </div>
        <div class="container body-content">

            @RenderBody()
        </div>
    </div>

    <input id="siteUrl" type="hidden" value="@Url.Content("~")" />
</body>
</html>
