﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("TitleContent", required: false)

    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/rangy/rangy-core.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.simplemodal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.simpleCombo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Prism.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sorttable.js")" type="text/javascript"></script>
    
    @Html.Partial("_Strings")


    @RenderSection("HeadContent", required: false)


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33080583-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
            </div>

            <div id="logindisplay">
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

            </div>
        </div>
        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>

    <div id="modal">
        <div id="modalCaption">
        </div>
        <img src="@Url.Content(" ~/Content/close.png")" alt="Close" title="Close" class="modalCrossIcon" />
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "modalForm", enctype = "multipart/form-data" }))
        {
            <div id="modalContent">
            </div>
            <div id="modalFooter">
                <input id="modalOk" type="submit" />
                <input id="modalCancel" type="button" />
            </div>
        }
    </div>
    <input id="siteUrl" type="hidden" value="@Url.Content("~")" />


</body>
</html>
