@model Prism.Models.CorpusModel

@section TitleContent
{
@ViewData["corpusname"]
    - @PrismResources.Alignment_view    
    }


	<div class="subnav subnav-fixed">
        <div class="container">
        	<div class="row title">
        		<div class="span12">
        			<h1>@ViewData["corpusname"] <small>@PrismResources.Alignment_view</small></h1>
        		</div>
        	</div>
	        <div class="row">
	            <div class="span6">
	                <h3><a href="#" class="tt" title="@PrismResources.Base_text_defn" rel="tooltip" data-placement="right">@PrismResources.Base_text <small>@ViewData["basetextdate"]</small></a></h3>
	            </div>
	            <div id="versionlist" class="span6">
	                <form class="form-horizontal pull-right">
	                <fieldset>
	                    <div class="control-group">
	                        <label class="control-label" for="versionlist">
	                            @PrismResources.Version</label>
	                        <div class="controls">
	                            @Html.Raw(ViewData["versionlist"].ToString())

	                        </div>
	                    </div>
	                </fieldset>
	                </form>
	            </div>
	        </div>
        </div>
    </div>
	
    <div class="container alignments withSubnav">
        <div class="row">
        	<div class="scroll-wrapper span4" style="height:400px;">
        		<div class="row scroll-content">
	                <div id="basetext" class="text no-select">
        				@Html.Raw(ViewData["basetextcontent"].ToString())

        			</div>
	            </div>
            </div>
        	<div class="scroll-wrapper span4" style="height:400px;">
        		<div class="row scroll-content">
	            	<div id="alignmentviz"></div>
	            </div>
            </div>
            <div class="scroll-wrapper span4" style="height:400px;">
        		<div class="row scroll-content">
	                <div id="versiontext" class="text no-select">
        			</div>
	            </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="corpusname" value="@ViewData["corpusname"]" />
    <input type="hidden" id="selectedsegid" value="-1" />
    
@section HeadContent
{
<script src="@Url.Content("~/Scripts/Prism-Formatting.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/d3/d3.v2.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/d3/d3.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/vvv/kinetic.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/kinetic-v4.4.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/chroma/chroma.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/softdivscroll.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.waypoints.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/vvv/alignments/alignments.js")" type="text/javascript"></script>
<script src="http://use.typekit.com/oiq3xqg.js" type="text/javascript"></script>
<script type="text/javascript">        try { Typekit.load(); } catch (e) { }</script>
    
    }

@section HelpMenuItem
{
<a id="help-popover" href="#"><i class="icon-question-sign icon-white"></i> What&#8217;s this?</a>
<div id="help-content" style="display:none">
    <p>
        @Html.Raw(PrismResources.Alignment_view_help_html)
    </p>
</div>
    
    }

