
@section TitleContent
{
@ViewData["corpusname"]
    - @PrismResources.Viv_visualisation
    }


    <div class="subnav subnav-fixed">
        <div class="sorting container">
            <div class="pull-right subnav-item-right">
                <div id="sort-direction" class="option-set" data-option-key="sortAscending">
                    <div class="btn-group pull-right">
	                	<a href="#sortAscending=true" data-option-value="true" class="btn btn-mini optionlink disabled">Asc</a>
	                    <a href="#sortAscending=false" data-option-value="false" class="btn btn-mini optionlink">Desc</a>
	                </div>
	                <div class="headline pull-right">@PrismResources.ORDER</div>
                </div>
            </div>
            <div class="pull-right subnav-item-right">
                <div id="sort-by" class="option-set" data-option-key="sortBy">
                  <form class="form-horizontal viv-sort">
						<div class="control-label">
						<a href="#" class="tt pull-left" title="@Html.Raw(PrismResources.Eddy_sort_tooltip_html)" rel="tooltip" data-placement="right"><i class="icon-question-sign pull-right"></i>@PrismResources.SORT_BY</a>
						</div>
						<div class="controls">
							<select id="viv-sort-select" data-option-key="sortBy">
								<option data-option-value="eddy">@PrismResources.Eddy_value</option>
								<option data-option-value="name">@PrismResources.Version</option>
								<option data-option-value="length">@PrismResources.Segment_length</option>
								<option data-option-value="year">@PrismResources.Reference_date</option>
							</select>
						</div>

					</form>
                </div>
            </div>
            <div>
                <form class="form-horizontal viv-select">
					<div class="control-group">
						<div class="control-label">
						<a href="@Url.Content("~/Home/Project#eddyviv")" class="tt pull-left" title="@PrismResources.Eddy_viv_desc_html" rel="tooltip" data-placement="right"><i class="icon-question-sign pull-right"></i>@PrismResources.VIV_TYPE</a>
						</div>

						<div class="controls">
							<select id="viv-type-select">
								<!-- to be filled by JS -->
							</select>
						</div>	
					</div>
				</form>
            </div>
            <div class="row">
	            <div id="viv-adjust" class="span12">
	                <table>
	                    <tr>
	                        <td>
	                            @PrismResources.Viv_floor:
	                        </td>
	                        <td id="floorslider">
	                        </td>
	                        <td id="floorsliderval" style="padding-left:30px"></td>
	                    </tr>
	                    <tr>
	                        <td>
	                            @PrismResources.Viv_ceiling:
	                        </td>
	                        <td id="ceilingslider">
	                        </td>
	                        <td id="ceilingsliderval" style="padding-left:30px"></td>
	                    </tr>
	                    <tr>
	                    <td>
	                    <input type="button" id="applyvivlimits" value="Apply" />
	                    <a href="#" class="tt" title="@Html.Raw(PrismResources.Viv_limits_tooltip_html)" rel="tooltip" data-placement="right"><i class="icon-question-sign"></i></a>
	                    </td>
	                    </tr>
	                </table>
	            </div>
            </div>
        </div>
    </div>
    <div class="container viv withSubnav">
        <div id="panel" class="row">
        	<div class="scroll-wrapper span6">
	            <div id="basetextdiv" class="version scroll-content">
	                <div class="title">
	                    <h1>
	                        @ViewData["corpusname"]<br />
	                        <small>
	                            @ViewData["corpusdescription"]</small></h1>
	                </div>
	                <div class="text">
	                    @Html.Raw(ViewData["basetextcontent"].ToString());

	                </div>
	            </div>
	        </div>
            <div class="scroll-wrapper span6">
            	<div id="eddystats" class="scroll-content">
            		<p class="muted">@PrismResources.Eddy_stats_instr</p>
            	</div>
            </div>
        </div>
        
        <input type="hidden" id="corpusname" value="@ViewData["corpusname"]" />
        <input type="hidden" id="vivfloor" value="@ViewData["vivfloor"]" />
        <input type="hidden" id="vivceiling" value="@ViewData["vivceiling"]" />
        <input type="hidden" id="selectedsegid" value="-1" />
        <input type="hidden" id="basetextlangcode" value="@ViewData["basetextlangcode"]" />
        <input type="hidden" id="versionlangcode" value="@ViewData["versionlangcode"]" />
    </div>

@section HeadContent
{
    <script src="@Url.Content("~/Scripts/Prism-Formatting.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/d3/d3.v2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/chroma/chroma.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/viv/viv.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/jquery.isotope.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/vvv/nanoScroller/jquery.nanoscroller.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/nanoscroller.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">        window.dhx_globalImgPath = "../Images/dhx/";</script>
<script src="@Url.Content("~/Scripts/dhx/dhtmlxcommon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/dhx/dhtmlxslider.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/dhx/ext/dhtmlxslider_start.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/dhx/dhtmlxslider.css")" rel="stylesheet" type="text/css" />
<script src="http://use.typekit.com/oiq3xqg.js" type="text/javascript"></script>

<script type="text/javascript">        try { Typekit.load(); } catch (e) { }</script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=load"></script>
    }

@section HelpMenuItem
{
<a id="help-popover" href="#"><i class="icon-question-sign icon-white"></i> What&#8217;s this?</a>
<div id="help-content" style="display:none">
    <p>
        @Html.Raw(PrismResources.Viv_view_help_html)
        
        <br/>
        <a href="@Url.Content("~/Home/Project/#eddyviv")">@PrismResources.More_about_eddy_viv</a>
    </p>

</div>    
    }

