@model Prism.Models.EddyHistorySeriesModel

@section TitleContent{
@Model.CorpusName
    - @PrismResources.Eddy_history
    }


    <div class="container">
        <div class="page-header">
            <h1>
                @Model.CorpusName
                - @PrismResources.Eddy_history</h1>
        </div>
        <div class="row">
            <div id="chart" style="width: 1200px; height: 600px">
            </div>

        </div>
    </div>
    <input id="corpusname" type="hidden" value="@Model.CorpusName" />
    <input id="basetextsegid" type="hidden" value="@Model.BaseTextSegmentId" />

@section HeadContent{
<script src="@Url.Content("~/Scripts/Prism-EddyHistory.js")" type="text/javascript"></script>
    }

