@model Prism.Models.SearchModel

@section TitleContent {
@Model.CorpusName
    - @PrismResources.Eddy_overview
    
    }

    <div class="container">
        <div class="page-header">
            <h1>
                @Model.CorpusName
                - @PrismResources.Eddy_overview</h1>
        </div>
        <div class="row">
        <div class="control-group">
            @PrismResources.Eddy_overview_info
            </div>
            <div class="sorting container">
                <div class="control-label">
                    <a href="@Url.Content("~/Home/Project#eddyviv")" class="tt pull-left" title="@PrismResources.Eddy_viv_desc_html"
                        rel="tooltip" data-placement="right"><i class="icon-question-sign pull-right"></i>
                        @PrismResources.Variation_metric</a>
                </div>
                <div class="controls">
                    <select id="variation-type-select">
                        <!-- to be filled by JS -->
                    </select>
                </div>
            </div>

        <div class="sorting container">
            <div class="pull-right subnav-item-right">
                <input type="button" id="checkall" value="All" title="@PrismResources.Select_all_chart_series" />
                <input type="button" id="checknone" value="None" title="@PrismResources.Select_no_chart_series" />
                Sort by:
                <select id="legend-sort-select">
                    <option value="name">Version Name</option>
                    <option value="eddy">Average Eddy Value</option>
                    <option value="year">Reference Date</option>
                </select>  
            </div>
            <div class="control-label">Versions:</div>

        </div>
          
            <div id="legendcontainer">
            </div>

             <input type="button" id="zoomout" value="Zoom out" disabled="disabled" />
            <div id="chartxaxislabel">

                Segment position in text
                </div>
            <div id="chart">
            </div>
            <div style="height:200px"></div>
        </div>
    </div>
    <input id="corpusname" type="hidden" value="@Model.CorpusName" />


@section HeadContent {
<script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-EddyOverviewChart.js")" type="text/javascript"></script>
<style type="text/css">
    #legendcontainer {
        width: 1200px;
        height: 225px;
    }

    #chart {
        width: 1200px;
        height: 600px;
    }

    #chartxaxislabel {
        width: 1200px;
        text-align: center;
    }
</style>


    }
    