
@model Prism.Models.BaseCorpusModel

@section TitleContent {
@Model.CorpusName
    - @PrismResources.Viv_distribution
    }



       <div class="container">
        <div class="page-header">
            <h1>
                @Model.CorpusName
                - @PrismResources.Viv_distribution</h1>
        </div>
         <div class="row">
        <div class="control-group">
            @PrismResources.Viv_distribution_desc
            </div>
            <div class="sorting container">
                <div class="control-label">
                    <a href="@Url.Content("~/Home/Project#eddyviv")" class="tt pull-left" title="@PrismResources.Eddy_viv_desc_html"
                        rel="tooltip" data-placement="right"><i class="icon-question-sign pull-right"></i>
                        @PrismResources.Variation_metric</a>
                </div>
                <div class="controls">
                    <select id="variation-type-select">
                        <!-- to be filled by JS -->
                    </select>
                </div>
            </div>

             <input type="button" id="zoomout" value="Zoom out" disabled="disabled" />
            <div id="chartxaxislabel">

                @PrismResources.Viv_value
                </div>
            <div id="chart">
            </div>
            <div style="height:200px"></div>

        </div>
    </div>
    <input id="corpusname" type="hidden" value="@Model.CorpusName" />
    

@section HeadContent
{
    <script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-VivDistribution.js")" type="text/javascript"></script>
<style type="text/css">
    #legendcontainer {
        width: 1200px;
        height: 225px;
    }

    #chart {
        width: 1200px;
        height: 600px;
    }

    #chartxaxislabel {
        width: 1200px;
        text-align: center;
    }
</style>

    }

