body, html {
	overflow: hidden;
	height:100%;
	}


#container {
	.translation {
		position: absolute;bottom:0px;top:30px;left:20px; 

		.nav {
			position: relative;
			z-index: 100; 
			width: 100px;
			.hideNav {margin-bottom: 10px;}

				.hideNav {
					
					padding:  7px 12px;
					position: absolute;
					
					left: -27px;
					z-index:100;
				}
				&.hidden .hideNav{
					background: url("img/nav_closed.png") no-repeat 50% 50%;
					top: 56px;
				}
				&.visible .hideNav{
					background: url("img/nav_opened.png") no-repeat 50% 50%;
					top: 43px;
				}
		}  

		.content {
			position: absolute;
			bottom:0px;
			height: 100%;

			.filter {
				//position: fixed; top: 100px;
				z-index:99;
				position: absolute;
				&.hidden > div {display:none !important;}
				button { vertical-align: top;  } 
				.hideFilter {
					
					padding: 3px 16px;
					position: absolute;
					
					top: -1px;
					z-index:100;
				}
				&.hidden .hideFilter{
					background: url("img/speaker_closed.png") no-repeat 50% 50%;
					left:-38px;
				}
				&.visible .hideFilter{
					background: url("img/speaker_opened.png") no-repeat 50% 50%;
					left:111px;
				}
			}

			.txt {
				position: absolute;
				overflow: auto;
				height: 98%;
				//top:0px;
				//bottom:100px;
				z-index: 1;
				//position: absolute;  bottom:0px; 
			}

			.connector {
				//position: fixed;top: 100px; 
				z-index:-100;
				//display: none;
				position: absolute;

			} 

		}		
	}

}
  

button {
	background-color: black;padding: 4px;color: white; font-size: 75%;
}



.speech {padding: 8px 5px 8px 10px;}
.textSelected {background-color: yellow;}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,  button {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Georgia, serif;
	font-size: 97%;
	vertical-align: bottom;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 115%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}