
@model Prism.Models.AutoSegmentationModel

<div>
    @Html.HiddenFor(x => x.CorpusName)
    @Html.HiddenFor(x => x.VersionName)
    <br />
    @PrismResources.Auto_segment_descrip<br /><br />
    <asp:Panel   ID="Panel1" runat="server" GroupingText="@PrismResources.Tag_based">
    <input name="Option" id="Radio1" type="radio" value="around" checked="checked" />@PrismResources.Segment_around_tag_pair<br />
    <input name="Option" id="Radio2" type="radio" value="after" />@PrismResources.Segment_after_tag<br />
    <input name="Option" id="Radio3" type="radio" value="play1" />@PrismResources.Play_format_1<br />
        @PrismResources.Tag: 
    <input id="Tag" name="Tag" type="text" value="p" /><br />
    </asp:Panel>
    <br />
    <input name="Option" id="Option" type="radio" value="" disabled="disabled" />@PrismResources.Segment_on_punc<br />



</div>