
@model Prism.Models.DocumentExtractModel

@section HeadContent {
<script src="@Url.Content("~/Scripts/Prism-Formatting.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-Editor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-Document.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/TaggingStyles.css")" rel="stylesheet" type="text/css" />
<link id="markercss" href="@Url.Content("~/Content/EditorSegmentMarkers.css")" rel="stylesheet" type="text/css" />
<link id="corpuscss" href="@Url.Content("~/Corpus/CorpusCss?CorpusName=" + Model.CorpusName)" rel="stylesheet" type="text/css" />
<link href="@Url.Content(" ~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(" ~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    }

@section TitleContent
{
        VVV - @Model.CorpusName:
        @if (string.IsNullOrEmpty(Model.NameIfVersion))
        {
            @PrismResources.Base_text
        }
        else
        {
            @("'" + Model.NameIfVersion + "'")
        }
    }



	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="span9">
				    <h2>
				        @Model.CorpusName:
				        @if (string.IsNullOrEmpty(Model.NameIfVersion))
				        {
				            @PrismResources.Base_text
				        }
				        else
				        {
				            @Model.NameIfVersion
				        }
						<small> @Model.ReferenceDate</small>
					</h2>
					<p>
						<strong>@Html.NameFor(model =>model.Description):</strong> @Model.Description
					</p>
				</div>
				<div class="span3">
					<p>
						<strong>@Html.NameFor(x =>x.AuthorTranslator):</strong> @Model.AuthorTranslator
					</p>
					<p>
						<strong>@Html.NameFor(x => x.CopyrightInfo):</strong> @Model.CopyrightInfo
					</p>
					<p>
						<strong>@Html.NameFor(x => x.DocLength):</strong> @Model.DocLength
					</p>	
					<p>

					</p>
				</div>
			</div>
		</div>
	    <div class="row">
			<div class="span12">
				<div class="well">
					@using (Html.BeginForm( null, null, FormMethod.Post, new { id="docextractform", @class="form-horizontal" }))
					{
					@Html.ValidationSummary(false)
				    @Html.HiddenFor(model => model.CorpusName, new { id = "corpusname" })
					@Html.HiddenFor(model => model.NameIfVersion, new { id = "versionname" })
					@Html.HiddenFor(model => model.DocLength)
					<div class="pull-right">
						<input type="button" value="@PrismResources.View_ie_buttonaction" id="viewbutton" />
					</div>
					<fieldset>
						<legend>
							@PrismResources.View_extract
						</legend>
						<div class="control-group">
							<label class="control-label" for="">@PrismResources.Extract_to_show</label>
							<div class="controls">
								@Html.DropDownListFor(model => model.ExtractSegmentID, (System.Collections.Generic.IEnumerable<SelectListItem>)ViewData["TOCSegments"])
				                @Html.ValidationMessageFor(model => model.ExtractSegmentID)
							</div>
						</div>
					
						<div class="control-group">
							<label class="control-label">@PrismResources.Segment_filter<a href="#" class="tt" title="@PrismResources.Seg_filter_tooltip" rel="tooltip" data-placement="right"><i class="icon-question-sign"></i></a></label>
							<div class="controls">
                                Content behaviour: @Html.EnumDropDownListFor(Model => Model.ContentBehaviour)
								<table id="attribfiltertable" class="table">
	                                <thead>
	                                    <tr>
	                                        <th>
	                                            @PrismResources.Name_ie_name_of_attrib
	                                        </th>
	                                        <th>
	                                            @PrismResources.Value_ie_value_of_attrib
	                                        </th>
	                                        <th>
	                                        </th>
	                                    </tr>
	                                </thead>
	                                <tbody>
										@if (Model.AttributeFilters != null && Model.AttributeFilters.Length > 0)
                                        { 
                                            for (int i = 0; i < Model.AttributeFilters.Length; i++)
				                            {
											    string indexval = i.ToString();
											    string rowid = "attribfilterrow-" + indexval;
											    string rowhtml = Prism.Controllers.CorpusController.AttributeRowHtml("AttributeFilters", Model.CorpusName, i, Model.AttributeFilters[i].Name, Model.AttributeFilters[i].Value, false);
											    <tr id='@rowid'>
											    @rowhtml
											    </tr>
										    }
                                        }

									</tbody>
								</table>
								<input type="button" value="@PrismResources.Add" id="addfilterattrib" />
							</div>
						</div>
		
			        	<input type="hidden" id="nextattribfilterrowindex" value="@ViewData["nextattribfilterrowindex"]" />

					</fieldset>
					}
				</div>

			    <div>
			        <div id="editorenclosurediv">
			            <textarea id="doceditor" name="doceditor">
			        @Html.Raw(ViewData["extract"].ToString());
	        
			        
			        </textarea>
			        </div>
			    </div>
			    <div>

                    <input id="autoseg" type="button" class="btn btn-primary" value="@PrismResources.Auto_segment..." /> <br />
			    </div>

			</div>
		</div>
	</div>

