
@model Prism.Models.DocInfoViewModel


@section TitleContent
{
    VVV - @ViewData["VersionName"]
    }


	<div class="container">
		<header>
			<h1>@Model.NameIfVersion<small>@Model.MetaData.ReferenceDate</small></h1>
			<p>@PrismResources.Corpus_name: @Model.CorpusName</p>
		</header>
		<section id="description">
			<div class="row">
				<div class="span5">
					<dl>
						<dt>@Html.NameFor(x=>x.MetaData.Description)</dt>
						<dd>@Model.MetaData.Description</dd>
					</dl>
				</div>
				<div class="span7">
					<dl>
						<dt>@Html.NameFor(x => x.MetaData.LanguageCode)</dt>
  						<dd>@Model.MetaData.LanguageCode</dd>
  						
						<dt>@Html.NameFor(x => x.MetaData.ReferenceDate)</dt>
  						<dd>@Model.MetaData.ReferenceDate</dd>
  						
  						<dt>@Html.NameFor(x => x.MetaData.CopyrightInfo)</dt>
  						<dd>@Model.MetaData.CopyrightInfo</dd>
  						
  						<dt>@Html.NameFor(x => x.MetaData.Genre)</dt>
  						<dd>@Model.MetaData.Genre</dd>
  						
  						<dt>@Html.NameFor(x => x.MetaData.AuthorTranslator)</dt>
  						<dd>@Model.MetaData.AuthorTranslator</dd>
					</dl>
				</div>
			</div>
		</section>
		<section id="info">
			<div class="page-header">
				<h3>@PrismResources.Refs_and_info</h3>
			</div>
			
			<div class="row">
				<div class="span5">
					<p>@Model.MetaData.Information</p>
				</div>
			</div>
		</section>
	</div>
