@model Prism.Models.SegmentDefinitionModel

@using Prism.HtmlHelpers
@Html.ValidationSummary(false)
<span class="display-label">Segment ID: </span><span class="display-field">
    @Model.ID.ToString()</span>
<span class="display-label">Segment start: </span><span class="display-field">
    @Model.startPos.ToString()</span>
<span class="display-label">Segment length: </span><span class="display-field">
    @Model.length.ToString()</span><br />
<span class="display-label">Segment content: </span><span class="display-field">
    @Model.Content</span>

    @Html.HiddenFor(x => x.startPos)
    @Html.HiddenFor(x => x.length)
    @Html.HiddenFor(x => x.CorpusName)
    @Html.HiddenFor(x => x.NameIfVersion)
    @Html.HiddenFor(x => x.ID)
<fieldset>
    Content behaviour: @Html.EnumDropDownListFor(model => model.ContentBehaviour)
    <legend>Attributes</legend>
    <table id="attribtable">
        <thead>
            <tr>
                <th>
                    <span class="editor-label">Name</span>
                </th>
                <th>
                    <span class="editor-label">Value</span>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Attributes.Length; i++)
            {
                //EblaAPI.PredefinedSegmentAttribute pre = null;
                string indexval = i.ToString();
                string rowid = "attribrow-" + indexval;
                //string nameselectname = "Attributes[" + indexval + "].Name";
                //string valueinputname = "Attributes[" + indexval + "].Value";
                string rowhtml = Prism.Controllers.CorpusController.AttributeRowHtml("Attributes", Model.CorpusName, i, Model.Attributes[i].Name, Model.Attributes[i].Value, Model.ID == -1);
            <tr id='@rowid'>
                @Html.Raw(rowhtml)
            </tr>
            }
        </tbody>
    </table>
    <input type="button" value="Add" id="addattrib" />
</fieldset>
<input type="hidden" id="nextattribrowindex" value="@ViewData["nextattribrowindex"]" />
<script type="text/javascript">
    $(function () {

        $('#addattrib').click(function (e) { PrismNS.Utils.AddAttribRow('nextattribrowindex', 'Attributes', 'attribtable', 'attribrow-'); });
    });


</script>
