
@model Prism.Models.HtmlUploadModel

@using Prism.HtmlHelpers

@section TitleContent
{
    VVV - @PrismResources.Upload_doc
}


@section HeadContent
{
    <script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Prism-Upload.js")" type="text/javascript"></script>
}


<div class="container">
    <div class="page-header">
        <h2>

            @Model.CorpusName:
            @if (string.IsNullOrEmpty(Model.NameIfVersion))
            {
                @PrismResources.Base_text
            }
            else
            {
                @Model.NameIfVersion
            }
            - @PrismResources.Upload_doc
        </h2>
    </div>
    <div class="well">
        @Html.Raw(PrismResources.Upload_doc_guidance)


    </div>
    <div class="alert-error">
        @Html.ValidationSummary(true)


    </div>
    <div class="well">
        <fieldset>
            <legend>@PrismResources.Paste_content</legend>
            <div id="editorenclosurediv">
                <textarea id="doceditor" name="doceditor">       </textarea>
            </div>
            <input type="button" class="btn-primary" value="@PrismResources.Upload_content" id="uploadcontent" />
        </fieldset>

    </div>

    <div class="well">


        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.CorpusName, new { id = "uploadcorpusname" })
            @Html.HiddenFor(model => model.NameIfVersion, new { id = "uploadnameifversion" })
            <fieldset>
                <legend>Upload file</legend>
                <label for="file">
                    @PrismResources.Filename:
                </label>
                <input type="file" name="file" id="file" />
                @Html.EnumDropDownListFor(model => model.encoding)
                <p>
                    <input type="submit" class="btn-primary" value="@PrismResources.Upload_file" />
                </p>
            </fieldset>
        }
        @using (Html.BeginForm("Update", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.CorpusName, new { id = "updatecorpusname" })
            @Html.HiddenFor(model => model.NameIfVersion, new { id = "updatenameifversion" })
            <fieldset>
                <legend>@PrismResources.Update_file</legend>
                <label for="file">@PrismResources.Filename:</label>
                <input type="file" name="file" id="file1" />
                <p><input type="submit" class="btn-primary" value="@PrismResources.Update_file" /> </p>
            </fieldset>
        }

    </div>



</div>
    