
@model Prism.Models.UploadFilesResult

@using Prism.HtmlHelpers

@section TitleContent
{
    VVV - @PrismResources.Upload_doc
}


@section HeadContent
{
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootstrap.wizard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-validate.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Prism-NewUpload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/css/wizard.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/newer/css/jquery.fileupload.css")" rel="stylesheet" type="text/css"/>
}


<div class="container">
    <div class="page-header">      
            @using (Html.BeginForm("UploadFiles", "Document", FormMethod.Post, new { id = "UploadVersionForm", enctype = "multipart/form-data" }))
            {
            <h2>
                @Model.CorpusName: @PrismResources.Version - @PrismResources.Upload_doc
            </h2>
            @Html.Raw(PrismResources.Upload_doc_guidance)

            @Html.HiddenFor(model => model.CorpusName, new { id = "CorpusName" })

            <div class="well dashedzone" style="margin-right: 10px;">
                <div class="span10">
                    <h3 class="info-text">Drop your file(s) here</h3>
                    <p class="category">or click "Add new" to select your version(s)</p>
                </div>
                <div class="control-group span10">
                    <div class="controls">
                        <div id="dropzoneversion" class="dropzone"></div>

                        <span class="btn btn-primary fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>@PrismResources.Add_new</span>
                            <input id="versionFileUpload" class="fileupload" type="file" name="versions[]" />
                        </span> or drop your file(s) here.

                        <br>
                        <br>

                        <!-- Progress bar -->
                        <div id="versionProgress" class="progress">
                            <div id="versionProgressBar" class="progress-bar progress-bar-info"></div>
                        </div>
                        <!-- Uploaded files -->
                        <div id="versionFiles" class="files"></div>

                        <div id="versionFilesUploaded"></div>
                    </div>
                </div>
            </div>
        }
 
    </div>
    @Html.ValidationSummary(true)

</div>
    